body {
  font-size: 13px;
  background-color: #F7F7F7;
  padding: 2rem;
}
.scrollLine {
  position: relative;
  border: 1px solid #CCCCCC;
  overflow: auto;
}
.scrollLine .scrollLine-container {
  position: absolute;
  list-style: none;
  padding: 1rem;
  margin: 0;
}
.scrollLine .scrollLine-container .scrollLine-item {
  font-size: 1.5rem;
}
.test-comp {
  width: 40rem;
  height: 20rem;
}
